{% extends "base.html"%}
{% load static %}
{% block start %}

<div class="background-image">
  <dive class="overly-text">
      <h1>Welcome to CowBazar.Com</h1>
      <p>Your one stop destination for high quality livestock.</p>
  </dive>
</div>
<main>
  <section id="information">
      <h2>Home</h2>
      <p>Welcome to CowBazar.Com, your premier destination for all your farming needs. Our carefully curated selection includes cows, goats, chickens, and ducks, each chosen for their quality and suitability for a variety of farming operations. Whether you're a seasoned farmer or just starting out, we've got the livestock to help you succeed.</p>
      <P>At CowBazar.Com, we prioritize the health and well-being of our animals. Each one undergoes thorough health checks to ensure they are in top condition before they arrive at your farm. Our team of experts is also on hand to provide guidance and support, helping you choose the right breeds and offering valuable advice on care and management.</P>
      <p>Join our community of passionate farmers and enthusiasts to connect with like-minded individuals, share experiences, and learn from each other. Whether you're looking to expand your operation or start a new venture, Livestock Haven is here to support you every step of the way. Welcome to the Livestock Haven family – let's embark on this farming journey together!
      </p>
  </section>
  <h2>Products:</h2>
  <div id="image-container">
      <div class="image-wrapper"><img src="{% static 'images/image3.jpeg'%}" alt="cows"></div>
      <div class="image-wrapper"><img src="{% static 'images/image2.jpeg'%}" alt="goats"></div>
      <div class="image-wrapper"><img src="{% static 'images/image4.jpeg' %}" alt="Ducks"></div>
      <div class="image-wrapper"><img src="{% static 'images/image5.jpeg'%}" alt="chickens"></div>
  </div>
  <section id="email">
      <h2>For any further query:</h2>
      <p>cowbazar@gmail.com</p>
  </section>
</main>
<footer>
   <div class="footer">
      <p> Copyrigth &copy;2024 Cow Bazar.com.All rights reserved.</p>
   </div> 
</footer> 


{% endblock %} 
