{% extends "base.html" %} {% load static %} {% block start %}

<div class="row">
  <div class="col-lg-12">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Continue Shopping</a>

      <br />
      <br />
      {% for animal in animals %}
      <table class="table">
        <tr>
          <th>
            <h5>Items : <strong>1</strong></h5>
          </th>
          <th>
            <h5>Total : <strong>{{ animal.Animal_Prize }}</strong></h5>
          </th>
          <th>
            <a style="float: right; margin: 5px" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
          </th>
        </tr>
      </table>
    </div>
    {% endfor %}
    <br />

    <div class="box-element">
      <div class="cart-row">
        <div style="flex: 2"></div>
        <div style="flex: 2"><strong>Item</strong></div>
        <div style="flex: 1"><strong>Price</strong></div>
        <div style="flex: 2"><strong>Quantity</strong></div>
        <div style="flex: 2"><strong>Total</strong></div>
      </div>

      {% for animal in animals %}
      <div class="cart-row">
        <div style="flex: 2">
          <img src="{{ animal.Animal_image.url }}" class="row-image" />
        </div>
        <div style="flex: 2">{{ animal.Animal_name }}</div>
        <div style="flex: 1">{{ animal.Animal_Prize }}</div>
        <div style="flex: 2">
          <p class="quantity">1</p>
          <div class="quantity">
            <img class="chg-quantity" src="{% static 'images/down.png' %}" />

            <img class="chg-quantity" src="{% static 'images/up.png' %}" />

          </div>
        </div>
        <div style="flex: 1">{{ animal.Animal_Prize }}</div>

      </div>

      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}