{% extends "base.html"%}
{% load static %}
{% block start %}
<p>
Welcome to our online marketplace dedicated to connecting animal enthusiasts with their perfect farm companions! At our platform, you can explore a diverse selection of domestic animals, including gentle cows and lively goats.</p>
<p>
We're committed to providing a safe and user-friendly environment for both buyers and sellers. With our integrated PayPal payment system, purchasing your new farm friend is secure and hassle-free.
</p>
<p>
Whether you're seeking a dairy cow to provide fresh milk, a playful goat for companionship,  our platform offers a reliable way to connect with fellow farmers and animal lovers alike.
Join our community today and discover the joy of farm life with your new furry  or hoofed friend by your side!
</p>

{% endblock %} 
