{% extends "base.html" %}
{% load static %}
{% block start %}

<div class="container">
  <div class="row">
    {% for animal in animals %}
    <div class="col-md-4">
      <div class="card">
        <img src="/media/{{ animal.Animal_image }}" class="card-img-top" style="height: 200px">
        <div class="card-body">
          <h5 class="card-title">{{ animal.Animal_name }}</h5>
          <p class="card-text">Weight: {{ animal.Animal_Weight }}</p>
          <p class="card-text">Price: {{ animal.Animal_Prize }}</p>
          <p class="card-text">Farm Location: {{ animal.Animal_Farm }}</p>
          <p class="card-text">Description: {{ animal.Animal_description }}</p>
          
          <form action="{% url 'cart' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="animal_id" value="{{ animal.id }}">
            <button type="submit" class="btn btn-primary">Add to Cart</button>
              <a href="#" class="btn btn-light" style="width: 100px">View</a>
              {% comment %} <a href="{% url 'delete_animal' animal.id %}" class="btn btn-danger m-2">Delete</a> {% endcomment %}
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% comment %} <div class="container">
  <div class="row">
    {% for animal in animals %}
    <div class="col-md-4">
      <div class="card">
        <img src="/media/{{ animal.Animal_image }}" class="card-img-top" style="height: 200px">
        <div class="card-body">
          <h5 class="card-title">{{ animal.Animal_name }}</h5>
          <p class="card-text">Weight: {{ animal.Animal_Weight }}</p>
          <p class="card-text">Price: {{ animal.Animal_Prize }}</p>
          <p class="card-text">Farm Location: {{ animal.Animal_Farm }}</p>
          <p class="card-text">Description: {{ animal.Animal_description }}</p>
          
          <!-- Comment Box -->
          <form action="{% url 'comment_submit' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="animal_id" value="{{ animal.id }}">
            <div class="form-group">
              <label for="comment">Add a comment:</label>
              <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Comment</button>
          </form>
          
          <form action="{% url 'cart' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="animal_id" value="{{ animal.id }}">
            <button type="submit" class="btn btn-primary">Add to Cart</button>
              <a href="{% url 'delete_animal' animal.id %}" class="btn btn-danger m-2">Delete</a>
          </form>
        </div>
      </div>
    </div> {% endcomment %}
    {% comment %} {% endfor %}
  </div>
</div> {% endcomment %}


{% endblock %}