 {% extends "base.html"%}
{% block start %}
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Domestic Animal Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white " aria-current="page" href="/Home/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/seller/">Seller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/hospital/">Animal Hospital</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active text-white" href="/farm/"   aria-expanded="page">
              Animal farm 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white " aria-current="page" href="/blogs/">Blogs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %} 
