{% extends "base.html"%}
{% load static %}
{% block start %}
<h2>login</h2>
 <div class="container mt-5">
    <form class="col-6 max-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% comment %} {% csrf_token %} {% endcomment %}
        <h2>Login</h2>
        <hr>
        {% comment %} {% if messages %} {% endcomment %}
        <div class="alert alert-primary" role="alert">
          {% comment %} {% for message in messages %}
          {{message}}
          {% endfor %}
        {% endif %} {% endcomment %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp"> 
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
             </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <p> Don't have account <a href="#">Register</a></p>
            <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div> 

{% endblock %} 
