{% extends "base.html"%}
{% load static %}
{% block start %}

<div class="container mt-5">

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <h2> Sell your Animal </h2>
        <hr>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Animal_Name</label>
            <input type="text" required name="Animal_name" class="form-control">
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Animal_weight</label>
          <textarea class="form-control" required name="Animal_Weight"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Animal_Prize</label>
            <textarea class="form-control" required name="Animal_Prize"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Farm Location</label>
            <select id="farmLocation" class="form-control" required name="Animal_Farm">
                <option value="" disabled selected>Select City</option>
                <option value="Dhaka">Dhaka</option>
                <option value="Mymensingh">Mymensingh</option>
                <option value="Barishal">Barishal</option>
                <option value="Chattogram">Chattogram</option>
                <option value="Khulna">Khulna</option>
                <option value="Rajshahi">Rajshahi</option>
                <option value="Rangpur">Rangpur</option>
                <option value="Sylhet">Sylhet</option>  
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Animal_Colors</label>
            <select id="farmLocation" class="form-control" required name="Animal_description">
              <option value="" disabled selected>Choose Your Animal_Color</option>
              <option value="Red">Red</option>
              <option value="Black">Black</option>
              <option value=">White">White</option>
              <option value="Blue">Blue</option>
              <option value="Green">Green</option>
              <option value="Gray">Gray</option>
              <option value="Navy">Navy</option> 
          </select>
        </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Animal_images</label>
            <input type="file" name="Animal_image" required class="form-control">
          </div>
        <button type="submit" class="btn btn-success">Post</button>
      </form>

</div>

{% endblock %}
